@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  
}

body {
  margin: 0;
  background-color: $color-background;
}

a {
  text-decoration: none;
  color: $color-tertiary;
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}