$color-: #474973;
$color-primary: #fe1493;
$color-secondary: #161B33;
$color-tertiary: #34e4ea;
$color-quaternary: #ffa9e7;
$color-background: #0D0C1D;

$font-size-small: 18px;
$font-size-medium: 20px;
$font-size-large: 22px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-family-primary: 'Rubik', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$transition-speed: 0.3s;

$border-radius-small: 8px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
