//$color-: #474973;
$color-primary: #6ecbf5;
$color-secondary: #c252e1;
$color-tertiary: #e0d9f6;
$color-quaternary: #586ae2;
$color-background: #2A2356;

$font-size-small: 18px;
$font-size-medium: 20px;
$font-size-large: 22px;
$font-size-xlarge: 26px;
$font-size-large-x2: 32px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-family-primary: 'Rubik', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$transition-speed: 0.3s;

$border-radius-small: 8px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
